  body{
    text-align: center;
    background-image: linear-gradient(skyblue,pink,white);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    height: 500px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .Nav{
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content:space-around;
    font-size: 30px;
    padding-top: 15px;
    font-weight: bold;
  }
  .link{
    color: white;
    text-decoration: none;
  }
  .active{
    color: red;
  }
  /* .container{
    display: flex;
    justify-content: space-between;
  } */
  .heading{
    display: flex;
    justify-content: space-around;
  }
  .addNewBtn{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 50px;
  }
  button{
    background-color:darkseagreen;
  }
  button:hover{
    background-color: red;
  }
  table{
     width: 1100px;
     margin-left: 80px;
     border-collapse: collapse;
  }
  td{
    height: 40px;
  }
  th{
    height: 55px;
    background-color:antiquewhite ;
  }
  tr:nth-child(odd) {
    background-color: white; /* Specify the background color for even rows */
  }
  
  tr:nth-child(even) {
    background-color:antiquewhite; /* Specify the background color for odd rows */
  }
  .flex1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
    column-gap: 200px;
    row-gap: 100px;
}
input{
    background: transparent;
    border-color: transparent;
    width:300px;
    height:30px;
    font-size: 15px;
}
input:focus {
    outline: none;
}
fieldset{
   border: 2px solid gray;
   border-radius: 10px;
   width:400px;
   height: 60px;

}
fieldset:hover{
    border-color:dodgerblue;
    background-color:cyan;
}
.flex2{
    margin-right: 150px;
    float: right;
    display: flex;
    column-gap: 70px;;
}
.btn1{
  width:200px;
  height:40px;
  border-radius: 25px;
  background-color:aquamarine;
  margin-top:20px;
}
.btn1:hover{
  background-color:red;
  cursor: pointer;
  font-weight: bold;
}